/**
* @author Prenom Nom courriel
*/

/** Polices de caractères **/

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$bleuPoudre: #a6d6f9;
$rose: #e96d92;
$violet: #6f71a1;
$vert: #132f3d;
$roseSurvol: #ee82a2;
$roseEnfonce: #cf5c7e;

$bleuPoudreTransparent: transparentize($bleuPoudre, 0.4);

/* Autres couleurs */

/** Points de rupture **/
$desktop: 601px;
