/**
* @author Prenom Nom courriel
*/

/** Polices de caractères **/

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$bleuPoudre: #A6D6F9;
$rose: #E96D92;
$violet: #6F71A1;
$vert: #132F3D;
$roseSurvol: #EE82A2;
$roseEnfonce: #CF5C7E;

$bleuPoudreTransparent : transparentize($bleuPoudre, 0.40);

/* Autres couleurs */


/** Points de rupture **/
$desktop : 601px;