/**
* @author megane boulianne
*/

/** Polices de caractères **/

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
/* Couleurs de base */
$bleuPoudre: #9FDFF3;
$rose: #e96d92;
$violet: #6f71a1;
$vert: #132f3d;
$roseSurvol: #ee82a2;
$roseEnfonce: #cf5c7e;

$bleuPoudreTransparent: transparentize($bleuPoudre, 0.4);

/* Autres couleurs */

/** Points de rupture **/
$desktop: 601px;
$h1:"Climate Crisis", sans-serif;
$h2:"urbanist", sans-serif;
$h3:"urbanist", sans-serif;
$h4:"urbanist", sans-serif;
$h5:"urbanist", sans-serif;
$p:"roboto", sans-serif;
 //typo
 h1,
 .h1 {
   /* = 32px */
   font-family: $h1;
   font-size: 3.2rem;
 }
 @media (min-width: 600px) {
   h1,
   .h1 {
     /* = 40px */
     font-family: $h1;
     font-size: 4rem;
   }
 }
 @media (min-width: 800px) {
   h1,
   .h1 {
     /* = 48px */
     font-family: $h1;
     font-size: 7rem;
   }
 }
 
 h2,
 .h2 {
   /* = 24px */
   font-family: $h2;
   font-size: 3.2rem;
 }
 @media (min-width: 600px) {
   h2,
   .h2 {
     /* = 32px */
     font-family: $h2;
     font-size: 3.2rem;
   }
 }
 @media (min-width: 800px) {
   h2,
   .h2 {
     /* = 36px */
     font-family: $h2;
     font-size: 3.6rem;
   }
 }
 
 h3,
 .h3 {
   /* = 18px */
   font-family: $h3;
   font-size: 1.8rem;
 }
 @media (min-width: 600px) {
   h3,
   .h3 {
     /* = 24px */
     font-family: $h3;
     font-size: 2.4rem;
   }
 }
 @media (min-width: 800px) {
   h3,
   .h3 {
     /* = 30px */
     font-family: $h3;
     font-size: 3rem;
   }
 }
 
 h4,
 .h4 {
   /* = 16px */
   font-family: $h4;
   font-size: 1.6rem;
 }
 @media (min-width: 600px) {
   h4,
   .h4 {
     /* = 18px */
     font-family: $h4;
     font-size: 1.8rem;
   }
 }
 
 @media (min-width: 800px) {
   h4,
   .h4 {
     /* = 22px */
     font-family: $h4;
     font-size: 2.2rem;
   }
 }