.accueil {
  &__titre {
    padding: 20px;
  }
  &__layout {
    display: flex;
    flex-direction: row;
  }
}

/* ---------------- BANNIERE ----------------*/

.article_preview {
  color: $noir;
}

.accueil__banniere {
  margin: 0;
  padding: 0;
  position: relative;
}
.accueil__banniere__mobile {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.accueil__banniere__deskop {
  display: none;
}

@media (min-width: 630px) {
  .accueil__banniere__mobile {
    display: none;
  }

  .accueil__banniere__deskop {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }
}

/* ---------------- ARTICLES ----------------*/

#contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .article_h2 {
    align-self: flex-start;
    font-size: 2.2rem;
    color: $noir;
    margin-bottom: 0.5rem;
    margin-left: 10px;
  }
}

.article_footer {
  padding: 1rem;
  color: $noir;
  background-color: transparent;
  transition: background-color 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
  opacity: 0.9;
  text-align: left;
  margin-left: 10px;
}
.article_auteur {
  color: $noir;
}

.article {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
  width: 100%;
  margin-left: 10px;

  article {
    scroll-snap-align: start;
    flex: 0 0 100%;
    max-width: 630px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: $bleuPoudre;
    transition: transform 0.3s ease;
    margin-left: 10px;

    &:hover {
      transform: scale(1.02);
    }

    .article_preview {
      padding: 1rem;
      background-color: transparent;
      transition: background-color 0.4s ease, opacity 0.4s ease,
        transform 0.4s ease;
      opacity: 0.9;
      text-align: left;
      margin-left: 10px;

      p {
        color: $noir;
        font-size: 1.1rem;
        margin: 0;
      }

      a {
        color: #0074d9;
        text-decoration: none;
      }
    }

    header {
      padding: 1rem;
      background-color: transparent;
      transition: background-color 0.4s ease, opacity 0.4s ease,
        transform 0.4s ease;
      opacity: 0.9;
      text-align: left;
      margin-left: 10px;

      .article_h3 {
        font-size: 1.7rem;
        color: $noir;
        margin: 0;
      }
    }

    &:hover {
      .article_preview,
      header {
        background-color: $bleuSurvol;
        opacity: 1;
        transform: scale(1.02);
      }
    }
  }
}

@media (max-width: 630px) {
  .article {
    gap: 0.5rem;

    article {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

/* ---------------- ARTISTES ----------------*/

.suggestions {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2em;

  .artiste_h2 {
    font-size: 2rem;
    color: $noir;
    margin-bottom: 1rem;
    align-self: flex-start;
    margin-left: 10px;
  }

  .artiste_ul {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;

    .artiste_fiche {
      scroll-snap-align: start;
      flex: 0 0 300px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: $bleuPoudre;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }

      a {
        color: $noir;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        span {
          padding: 0.5rem;
          text-align: center;
        }

        .suggestions_article_image {
          width: 100%;
          height: auto;
          object-fit: cover;
          flex-grow: 1;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .suggestions .artiste_ul {
    gap: 0.5rem;

    .artiste_fiche {
      flex: 0 0 350px;
      max-width: 100%;
    }

    .suggestions_article_image {
      width: 100%;
      height: auto;
      object-fit: cover;
      flex-grow: 1;
      border-radius: 1rem;
    }
  }
}

/* ---------------- ACTUALITES, TARIFS ET PRÉVENTES ----------------*/

.sections_container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 7em;
  padding: 0 1rem;

  .actualite_section,
  .tarif_section,
  .prevente_section {
    width: 350px;
    box-sizing: border-box;
    text-align: left;
    margin-right: 2rem;
    padding: 10px;

    h2 {
      color: $noir;
      font-size: 35px;
      margin: 0 0 1rem;
      text-align: center;
    }

    .conteneur {
      padding: 1rem;
      background-color: $bleuPoudre;
      border-radius: 1rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .prevente_section {
    margin-right: 0;
  }
}

.actualite_conteneur {
  display: flex;
  flex-direction: column;

  .titre {
    padding-left: 10px;
    margin: 0;
    margin-bottom: 3rem;
    color: $noir;
    font-size: 20px;
  }
}

.tarif_conteneur {
  display: flex;
  flex-direction: column;

  .tarif_ul {
    list-style: none;
    padding: 0;

    .tarif_li {
      padding-left: 10px;
      font-size: 20px;
      margin-bottom: 3rem;
      color: $noir;
    }
  }
}

.prevente_conteneur {
  display: flex;
  flex-direction: column;

  .prevente_ul {
    list-style: none;
    padding: 0;

    .prevente_li {
      padding-left: 10px;
      font-size: 20px;
      margin-bottom: 3rem;
      color: $blanc;
      background-color: $rose;
      border-radius: 1rem;

      .prevente_h4 {
        margin: 0;
        margin-bottom: 0.3rem;
        font-size: 18px;
        color: $blanc;
      }
    }
  }
}

@media (max-width: 630px) {
  .sections_container {
    flex-direction: column;

    .actualite_section,
    .tarif_section,
    .prevente_section {
      width: 100%;
      padding: 0.5rem;
      margin-right: 0;

      .titre,
      .tarif_li,
      .prevente_li {
        font-size: 20px;
        padding-left: 5px;
        margin-bottom: 2rem;
      }
    }
  }
}
